@font-face {
    font-family: newspaper;
    src: url("fonts/Roboto-Regular.ttf");
}

/* Reset default margins and padding */
body {
    margin: 0;
}

/* Set the background color */
body {
    /*background-color: #faf8d7;*/
    overflow-x: hidden;
}


html {
    height: 100vh;
    --sz: 25px; /*** size ***/
  --c0: #faf8d7; /* Base color, a soft beige */
  --c1: #f0e4c3; /* A lighter, soft tan */
  --c2: #e6d9af; /* A warm, muted gold */
  --c3: #dcd0a1; /* A subdued, earthy yellow */
  --ts: 50%/ calc(var(--sz) * 12.8) calc(var(--sz) * 22);
  background:
        /*bottom*/
    conic-gradient(from 120deg at 50% 86.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from 120deg at 50% 86.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
        /*bottom dark*/
        conic-gradient(from 120deg at 50% 74%, var(--c0) 0 120deg, #fff0 0 360deg) var(--ts),
        /*right*/
        conic-gradient(from 60deg at 60% 50%, var(--c1) 0 60deg, var(--c2) 0 120deg, #fff0 0 360deg) var(--ts),
        /*left*/
        conic-gradient(from 180deg at 40% 50%, var(--c3) 0 60deg, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
        /*top dark*/
    conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
        /*top*/
    conic-gradient(from -60deg at 50% 13.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from -60deg at 50% 13.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
        conic-gradient(from -60deg at 50% 41%, var(--c2) 0 60deg, var(--c3) 0 120deg, #fff0 0 360deg) var(--ts),
        var(--c0) ;
    }


/* Style the container */
.centered-element {
    text-align: center;
}

.title-element {
    margin-left: auto;
    margin-right: auto;
    font-size: 15vh;
    background-color: transparent;
}

.title-element p {
    font-family: newspaper;
    margin: auto;  
}

.main-divider {
    margin: auto;
    height: 0.5vh;
    width: 65vw;
    background-color: black;
}

.date {
    font-size: 1.35vw;
    width: 65vw;
    text-align: right;
}

.article-container {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin: 5vh auto 5vh auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article-title-head {
    font-family: newspaper;
    max-width: 30vw;
    line-height: 4vh;
    font-size: 4vh;
    background: transparent;
    margin: 0;
}

.article-title-desc {
    font-family: newspaper;
    max-width: 40vw;
    line-height: 4vh;
    font-size: 3vh;
    background: transparent; 
    margin: 0 0 0 1vw;
}

.article {
    display: flex;
    margin: 3vh auto 3vh auto;
    background-color: transparent;

}

.article a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item {
    padding: 0 1vw 0 1vw;
}

.link {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.article-content {
    letter-spacing: 0.05vw;
    font-size: 3vh;
    width:50%;
}

.article-title {
    font-size: 4vh;
    font-weight: bold;
    background-color: transparent;
}


.article img {
    width: 30%; /* Set width */
    height: auto; /* Set height */
    object-fit: cover; /* Ensures image retains its aspect ratio, cropping if needed */
}

.article-right {
    text-align: right;
    justify-content: right;
    padding-right: 20%;
}

.article-right p{
    max-width: 30vw;
    text-align: right;
    margin-left: auto;
    margin-right: 0;

}

.article-left{
	text-align: left;
    justify-content: left;
    padding-left: 20%;
}

.article-left p{
    max-width: 30vw;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
}


.article-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    margin: 0 auto 5vh auto;
    padding: 5vh;
    font-size: 1.15vw;
    line-height: 3vh;
    background-color: #dcd0a1; 
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    font-family: newspaper;
}

.article-body img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30vw;
    max-height: 30vw;
}

.title-in-text {
    font-size: 4vh;
    margin: 0 0 3vh 0;
    font-weight: 600;
}

.header {
    top: 0px;
    height: 8vh;
    z-index: 1000;
    padding: 0;
    background: #dcd0a1;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: black;
}

.header a {
    font-size: 4vh;
}

.footer-button {
  padding: 10px;
  margin: 0 0.5vw 0 0.5vw;
  border: 0;
  border-radius: 10px;
  height: 80%;
  background-color: #dcd0a1;
  color: black;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-style: solid;
  border-width: 2px;
  border-color: #dcd0a1;
}



@media only screen and (max-width: 1000px) {

	.title-element {
		margin-left: 0px;
		margin-right: 0px;
		font-size: 10vw;
        padding: 4vh 0 0 0;
	}

	.date {
		font-size: 3vw;
		width: 65vw;
        height: 2vh !important;
	}

	.title-element p {
		height: 6vh;
	}

	.title-element::after {
		width: 90vw;
	}


	.article-container {
		max-width: 90vw;
        margin: 1vh;
		padding-bottom: 2vw;
	}

	.article-title-head {
		max-width: 40vw;
		font-size: 5.5vw;
		line-height: 6vw;
	}

	.article-title-desc {
		max-width: 60vw;
		font-size: 3.5vw;
		line-height: 4vw;
		margin-bottom: 0vw;

	}

    .footer {
        padding: 5vh 0 5vh 0;
    }

    .footer-button svg {
        width: 32px;
        height: 32px;
    }

	.segment {
		width: 70vw;
	}

	.article a {
		font-size: 3vw;
	}

	.article img {
        margin: auto;
		height: 30vw;
		width: 30vw;
	}

    .article-title{
        font-size: 5vw;
    }

    .article-content {
        font-size: 3vw;
    }

    .article-left {
        padding-left: 5%;
    }

	.article-left p {
		max-width: 50vw;
	}

    .article-right {
        padding-right: 5%;
    }

	.article-right p {
		max-width: 50vw;
	}

	.article-body {
		width: 80vw;
		font-size: 2.25vw;
        padding: 2vw;
	}

    .article-body img {
        margin: 0;
    }

	.title-in-text {
		font-size: 5.5vw;
	}

    .header {
        width: 100%;
        height: 6vh;
    }

	.header a {
		font-size: 1.75vh;
        margin: 0 1vh 0 1vh;
	}

	.header-segment {
		width: 40vw;?
	}


}


.image-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 50%;
    font-size: 75%;
}


.link a:hover {
    color: #141414;
}

.link a:visited {
    color: black;
}

.link a:active {
    color: black;
}


.code-snippet {
    display: block;
    background: rgba(0, 0, 0, .125);
    width: 75%;
    margin: auto;

}

.bullet {
	margin-left: 2vw;
}

.footer {
    display: flex;
    background-color: transparent;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: black;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 6vw;
}


.footer-button:hover {
  background-color: #fff8d7;
  color: white;
  border-color: black;
  box-shadow: 0 0 20px grey;
  transform: scale(1.1);
}

.footer-button a:hover {
  fill: white;
}

.footer-button:active {
  background-color: #dcd0a1;
  color: white;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.section-header {
	font-weight: 600; 
	font-size: 200%;
}

.code-block {
    border-radius: 10px; 
    max-width: 100%;
    max-height: 50vh;
    overflow: scroll;
    margin: 10px;
}

.code-block-header{
    margin:0 auto 0 5vw;
}

code {
    line-height: initial;
}

/* Style the full-width title */
header, nav, ul {
    margin: 0;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    text-align: right;
    color: black;
    font-family: newspaper;
    font-size: 40px;
}

li {
    display: flex;
    justify-content: right;
}

canvas {
    z-index: -1;
}

h1 {
    display: flex;
    font-weight: 600;
    height: auto;
}

h2 {
    display: flex;
    font-weight: 500;
    height: auto; 
}
/* Style the image */
img {
    margin-bottom: 20px;
}